<p class="lead">Aw snap! You've encountered a server error.</p>

<div class="spacer spacer-sm"></div>

<pre>
<%= exception %>
</pre>

<div class="spacer spacer-sm"></div>

<pre>
<%= exception.stack %>
</pre>