<p class="lead">Aw snap! You've encountered a server error.</p>
<p>It's not you, it's me. But honestly, I think we both knew this wasn't going anywhere.</p>

<div class="spacer spacer-sm"></div>

<pre>
<%= exception %>
</pre>