<p class="lead">Frequently Asked Questions</p>

<div class="spacer spacer-sm"></div>

<h4>What's the story behind Fitminder?</h4>
<p>Hi. I'm <a href="http://mbmccormick.com">Matt McCormick</a>, the developer behind Fitminder. As someone who spends several hours a day at my desk, I often forget to get up and move around. I started this website as a side project to help me remember to do just that. I shared this website with a few friends and it quickly grew into a service which people depend on everyday for activity reminders, myself included.</p>

<div class="spacer spacer-sm"></div>

<h4>Why do I have to pay for Fitminder?</h4>
<p>Sending text messages gets expensive at scale. With hundreds of users, each receiving multiple text messages per day, this project quickly turned into an expensive hobby. In order to keep this service running, we switched to a very affordable payment model to cover the server and text messaging costs.</p>

<div class="spacer spacer-sm"></div>

<h4>Why aren't I receiving reminders from Fitminder?</h4>
<p>There could be a couple of reasons for this. First, check to make sure that you've verified your phone number. You can see this by logging in to the Fitminder website with your Fitbit account. Second, Fitminder will only send you a text message after you sync your Fitbit. For this reason, it's best if you configure your Fitbit mobile app for all-day sync or plug in a Fitbit dongle near where you expect to most of your activity reminders.</p>

<div class="spacer spacer-sm"></div>

<h4>Does Fitminder work internationally?</h4>
<p>Yes! Assuming your mobile carrier allows you to receive text messages from USA phone numbers, Fitminder will work internationally. Check with your carrier to ensure that no additional charges apply.</p>

<div class="spacer spacer-sm"></div>

<h4>Where should I send my feedback?</h4>
<p>You can send your questions, comments, suggestions, and complaints to <a href="mailto:matt@mbmccormick.com">matt@mbmccormick.com</a>. Your feedback is greatly appreciated!</p>
