<br />

<p class="lead">Fitminder provides encouragement to help you stick to your goals.</p>
<p class="hero">When you connect your Fitbit account to Fitminder, we'll monitor your activity and send you a text message when you haven't moved for a while. Simply connect your Fitbit account and verify your phone number to get started.</p>

<br />
<br />

<a href="/auth/fitbit" class="btn btn-success btn-lg" role="button">Sign in with your Fitbit account</a>
<br />

<br />
<br />

<h4>How does Fitminder work?</h4>
<p>Fitminder monitors your Fitbit activity to identify periods of time when you haven't moved. When Fitminder sees that you've been sedentary for too long, you'll receive a text message to remind you to get up and move. Fitminder works best when your Fitbit is configured for all-day sync on your mobile device. The more frequently your Fitbit syncs, the more accurate and timely Fitminder will be.</p>

<br />

<h4>Why is this important?</h4>
<p>Sitting all day is bad for your health. Your risk of heart disease <a href="http://www.ncbi.nlm.nih.gov/pubmed/19996993">increases by nearly 64 percent</a>. Your average lifespan is reduced by <a href="http://sjp.sagepub.com/content/35/5/510.abstract">up to seven years</a>. And you have a higher risk for <a href="http://seer.cancer.gov/statfacts/html/colorect.html">certain types of cancer</a>. The good news is your Fitbit, and Fitminder, can help you counteract this desk chair disease.</p>

<br />

<h4>What else should I know?</h4>
<p>Fitminder takes information privacy very seriously. Your Fitbit data and any information that you provide to Fitminder directly will never be shared with anyone. Fitminder does not request write access to your Fitbit account, so your personal information on file at Fitbit will never be modified.</p>
