<p class="lead">Fitminder is the Fitbit idle alert you've been waiting for.</p>
<p>Fitminder will send you a text message you if you've been sedentary for a long time. Simply connect your Fitbit account and verify your phone number to get started.</p>

<br />
<br />

<a href="/auth/fitbit" class="btn btn-success btn-lg" role="button">Login with Fitbit</a>