<p class="lead">Fitminder provides encouragement to help you stick to your goals.</p>
<p class="hero">When you connect your Fitbit account to Fitminder, we'll monitor your activity and send you a text message when you haven't moved in a while. <b>Fitbit users walk an average of 3,500 more steps per day with Fitminder.</b> Simply connect your Fitbit account and verify your phone number to get started.</p>

<div class="spacer spacer-lg"></div>

<a href="/auth/fitbit" class="btn btn-success btn-lg" role="button">Sign in with your Fitbit account</a>
<br />

<p class="subhero text-muted">FREE for two weeks, then $10/year after that</p>

<div class="spacer spacer-sm"></div>

<h3>How does Fitminder work?</h3>
<p>Fitminder monitors your Fitbit activity to identify periods of time when you haven't moved. When Fitminder sees that you've been sedentary for too long, you'll receive a text message to remind you to get up and move. Fitminder works best when your Fitbit is configured for all-day sync on your mobile device. The more frequently your Fitbit syncs, the more accurate and timely your reminders will be.</p>

<div class="spacer spacer-sm"></div>

<h3>Why is this important?</h3>
<p>Sitting all day is bad for your health. Studies suggest that your risk of heart disease <a href="http://www.ncbi.nlm.nih.gov/pubmed/19996993" target="_blank">increases by nearly 64 percent</a>. Your average lifespan is reduced by <a href="http://sjp.sagepub.com/content/35/5/510.abstract" target="_blank">up to seven years</a>. And you have a higher risk for <a href="http://seer.cancer.gov/statfacts/html/colorect.html" target="_blank">certain types of cancer</a>. The good news is your Fitbit, and Fitminder, can help you counteract this desk chair disease.</p>

<div class="spacer spacer-sm"></div>

<h3>What else should I know?</h3>
<p>Fitminder takes information privacy very seriously. Your Fitbit data and any information that you provide to Fitminder directly will never be shared with anyone. Fitminder does not request write access to your Fitbit account, so your personal information on file at Fitbit will never be modified.</p>

<div class="spacer spacer-sm"></div>

<h4>Still have questions? Check out the <a href="/faq">Frequently Asked Questions</a> page</h4>
