<br />

<p class="lead">Welcome, <%= user.nickname %>! We're glad you're with us.</p>
<p>Thanks for signing up for Fitminder. In order for us to send you reminders, we need to know your phone number. We promise not to share this information with anyone else.</p>

<br />

<form method="post">
    <div class="form-group">
        <label for="encodedId">Phone Number</label>
        <input type="tel" class="form-control" id="phoneNumber" value="<%= user.phoneNumber %>">
    </div>

    <% if (user.isPhoneNumberVerified) { %>
    <p class="text-success">Your phone number has been verified.</p>
    <% } else { %>
    <p class="text-danger">Your phone number has not yet been verified.</p>
    <% } %>
    
    <br />
    
    <button type="submit" class="btn btn-default btn-lg">Confirm phone number</button>
    <br />

    <br />
    <br />

    <p>The last time we last received data from Fitbit for your account was on <strong><%= user.lastSyncTime %></strong>. The last notification was sent to your phone on <strong><%= user.lastNotificationTime %></strong>.</p>
</form>