<br />

<p class="lead">Welcome, <%= user.nickname %>! We're glad you're with us.</p>
<p>Thanks for signing up for Fitminder. In order for us to send you reminders, we need to know your phone number. We promise not to share this information with anyone else.</p>

<br />

<form method="post">
    <div class="form-group form-group-lg">
        <label for="encodedId">Phone Number</label>
        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" value="<%= user.phoneNumber %>">
    </div>
    
    <% if (user.phoneNumber) { %>
    <% if (user.isPhoneNumberVerified) { %>
    <p class="text-success">Your phone number has been verified.</p>
    <% } else { %>
    <p class="text-danger">Your phone number has not yet been verified.</p>
    <% } %>
    <% } %>
    
    <br />
    
    <button type="submit" class="btn btn-default btn-lg">Save changes</button>
    <br />
</form>