<p class="lead">Welcome, <%= user.nickname %>! We're glad you're here.</p>
<p>Thanks for signing up for Fitminder. To get started, we need to know your phone number. This is the number where your text message reminders will be sent. You can also set you Fitminder preferences below. We promise not to share this information with anyone else.</p>

<div class="spacer spacer-sm"></div>

<form method="post">
    <div class="form-group form-group-lg">
        <label class="control-label" for="phoneNumber">Phone Number</label>
        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" value="<%= user.phoneNumber %>">
    </div>

    <% if (user.phoneNumber) { %>
    <% if (user.isPhoneNumberVerified) { %>
    <p id="phoneVerificationStatus" class="text-success">Your phone number has been verified.</p>
    <% } else { %>
    <p id="phoneVerificationStatus" class="text-danger">Your phone number has not yet been verified.</p>
    <% } %>
    <% } %>

    <div class="spacer spacer-sm"></div>

    <div class="form-group form-group-lg">
        <label class="control-label" for="inactivityThreshold">Remind me when I've been inactive for</label>
        <select class="form-control" id="inactivityThreshold" name="inactivityThreshold">
            <option value="2"<% if (user.inactivityThreshold == 2) { %>selected<% } %>>30 minutes</option>
            <option value="3"<% if (user.inactivityThreshold == 3) { %>selected<% } %>>45 minutes</option>
            <option value="4"<% if (user.inactivityThreshold == 4) { %>selected<% } %>>1 hour</option>
            <option value="5"<% if (user.inactivityThreshold == 5) { %>selected<% } %>>1 hour, 15 minutes</option>
            <option value="6"<% if (user.inactivityThreshold == 6) { %>selected<% } %>>1 hour, 30 minutes</option>
        </select>
    </div>

    <div class="form-group form-group-lg">
        <label class="control-label" for="startTime">Don't send me reminders before</label>
        <select class="form-control" id="startTime" name="startTime">
            <option value="7" <% if (user.startTime == 7) { %>selected<% } %>>7:00 AM</option>
            <option value="8" <% if (user.startTime == 8) { %>selected<% } %>>8:00 AM</option>
            <option value="9" <% if (user.startTime == 9) { %>selected<% } %>>9:00 AM</option>
            <option value="10" <% if (user.startTime == 10) { %>selected<% } %>>10:00 AM</option>
            <option value="11" <% if (user.startTime == 11) { %>selected<% } %>>11:00 AM</option>
        </select>
    </div>

    <div class="form-group form-group-lg">
        <label class="control-label" for="endTime">Don't send me reminders after</label>
        <select class="form-control" id="endTime" name="endTime">
            <option value="19"<% if (user.endTime == 19) { %>selected<% } %>>7:00 PM</option>
            <option value="20"<% if (user.endTime == 20) { %>selected<% } %>>8:00 PM</option>
            <option value="21"<% if (user.endTime == 21) { %>selected<% } %>>9:00 PM</option>
            <option value="22"<% if (user.endTime == 22) { %>selected<% } %>>10:00 PM</option>
            <option value="23"<% if (user.endTime == 23) { %>selected<% } %>>11:00 PM</option>
        </select>
    </div>

    <div class="checkbox">
        <label>
            <input type="checkbox" id="dontSendRemindersAfterGoal" name="dontSendRemindersAfterGoal"<% if (user.dontSendRemindersAfterGoal) { %>checked<% } %>> <span>Don't send me reminders after I've met my step goal</span>
        </label>
    </div>

    <div class="spacer spacer-sm"></div>

    <button type="submit" class="btn btn-default btn-lg">Save changes</button>
    <br />
</form>

<div class="spacer spacer-lg"></div>

<h4>Don't forget to set up all-day sync!</h4>
<p>Fitminder works best when your Fitbit is configured for all-day sync on your mobile device. The more frequently your Fitbit syncs, the more accurate and timely your reminders will be. After you verify your phone number, check to see if your tracker is configured for all-day sync. You can find more information on how to do that on the <a href="https://help.fitbit.com/?l=en_US&q=all%20day%20sync" target="_blank">Fitbit Help website</a>.</p>

<script type="text/javascript">
    $(document).ready(function() {
        var verification = $("#phoneVerificationStatus");

        var form = $("form");
        var target = $("#phoneNumber");
        var parent = $(target).closest('.form-group');

        target.intlTelInput({
            utilsScript: "/js/jquery.intltelinput.extra.min.js"
        });

        form.submit(function() {
            if ($.trim(target.val()) == 0) {
                parent.addClass('has-error');
                parent.after("<p id=\"phoneValidationError\" class=\"text-danger\">This is a required field.</p>");

                return false;
            }
        });

        target.blur(function() {
            if ($.trim(target.val())) {
                if (target.intlTelInput("isValidNumber")) {
                    parent.removeClass('has-error');
                    $("#phoneValidationError").remove();
                } else {
                    parent.addClass('has-error');
                    parent.after("<p id=\"phoneValidationError\" class=\"text-danger\">This is not a valid phone number.</p>");
                }
            }
            
            $("#phoneNumber").val($("#phoneNumber").intlTelInput("getNumber"));
        });

        target.keydown(function() {
            verification.hide();

            parent.removeClass('has-error');
            $("#phoneValidationError").remove();
        });
    });
</script>
