<br />

<p class="lead">Welcome, <%= user.nickname %>! We're glad you're with us.</p>
<p>Thanks for signing up for Fitminder. In order for us to send you reminders, we need to know your phone number. We promise not to share this information with anyone else.</p>

<br />

<form method="post">
    <div class="form-group form-group-lg">
        <label for="encodedId">Phone Number</label>
        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" value="<%= user.phoneNumber %>">
    </div>
    
    <% if (user.phoneNumber) { %>
    <% if (user.isPhoneNumberVerified) { %>
    <p class="text-success">Your phone number has been verified.</p>
    <% } else { %>
    <p class="text-danger">Your phone number has not yet been verified.</p>
    <% } %>
    <% } %>
    
    <br />
    
    <div class="form-group form-group-lg">
        <label for="inactivityThreshold">Remind me when inactive for</label>
        <select class="form-control" id="inactivityThreshold" name="inactivityThreshold">
            <option value="2" <% if (user.inactivityThreshold == 2) { %>selected<% } %>>30 minutes</option>
            <option value="3" <% if (user.inactivityThreshold == 3) { %>selected<% } %>>45 minutes</option>
            <option value="4" <% if (user.inactivityThreshold == 4) { %>selected<% } %>>1 hour</option>
            <option value="5" <% if (user.inactivityThreshold == 5) { %>selected<% } %>>1 hour, 15 minutes</option>
            <option value="6" <% if (user.inactivityThreshold == 6) { %>selected<% } %>>1 hour, 30 minutes</option>
        </select>
    </div>
    
    <div class="form-group form-group-lg">
        <label for="startTime">Don't send reminders before</label>
        <select class="form-control" id="startTime" name="startTime">
            <option value="7" <% if (user.startTime == 7) { %>selected<% } %>>7:00 AM</option>
            <option value="8" <% if (user.startTime == 8) { %>selected<% } %>>8:00 AM</option>
            <option value="9" <% if (user.startTime == 9) { %>selected<% } %>>9:00 AM</option>
            <option value="10" <% if (user.startTime == 10) { %>selected<% } %>>10:00 AM</option>
            <option value="11" <% if (user.startTime == 11) { %>selected<% } %>>11:00 AM</option>
        </select>
    </div>
    
    <div class="form-group form-group-lg">
        <label for="endTime">Don't send reminders after</label>
        <select class="form-control" id="endTime" name="endTime">
            <option value="19" <% if (user.endTime == 19) { %>selected<% } %>>7:00 PM</option>
            <option value="20" <% if (user.endTime == 20) { %>selected<% } %>>8:00 PM</option>
            <option value="21" <% if (user.endTime == 21) { %>selected<% } %>>9:00 PM</option>
            <option value="22" <% if (user.endTime == 22) { %>selected<% } %>>10:00 PM</option>
            <option value="23" <% if (user.endTime == 23) { %>selected<% } %>>11:00 PM</option>
        </select>
    </div>
    
    <br />
    
    <button type="submit" class="btn btn-default btn-lg">Save changes</button>
    <br />
</form>