<br />

<p class="lead">Welcome back, <%= user.nickname %>! We've missed you.</p>
<p>Thanks for using Fitminder. Below you'll find some information we have associated with your account, including the phone number where we send your reminders. We promise not to share this information with anyone else.</p>

<br />

<form method="post">
    <div class="form-group">
        <label for="encodedId">Phone Number</label>
        <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" value="<%= user.phoneNumber %>">
    </div>

    <% if (user.isPhoneNumberVerified) { %>
    <p class="text-success">Your phone number has been verified.</p>
    <% } else { %>
    <p class="text-danger">Your phone number has not yet been verified.</p>
    <% } %>
    
    <br />
    
    <button type="submit" class="btn btn-default btn-lg">Save changes</button>
    <br />

    <br />
    <br />

    <p>The last time we received data from Fitbit for your account was <strong><%= fromNow(user.lastSyncTime) %></strong>. The last notification was sent to your phone <strong><%= fromNow(user.lastNotificationTime) %></strong>.</p>
</form>