<p class="lead">Welcome, <%= user.nickname %>!</p>
<p>Thanks for signing up for Fitminder. In order for us to send you notifications, we need to know your phone number. We promise not to share it with anyone else.</p>

<br />
<br />

<form method="post">
    <div class="form-group">
        <label for="encodedId">Phone Number</label>
        <input type="tel" class="form-control" id="phoneNumber" value="<%= user.phoneNumber %>">
        <% if (user.isPhoneNumberVerified) { %>
        <p class="text-success">Your phone number has been verified.</p>
        <% } else { %>
        <p class="text-danger">Your phone number has not yet been verified.</p>
        <% } %>
    </div>
    <div class="form-group">
        <label for="lastSyncTime">Last Sync Time</label>
        <input type="text" class="form-control" id="lastSyncTime" value="<%= user.lastSyncTime %>" disabled>
    </div>
    <div class="form-group">
        <label for="lastNotificationTime">Last Notification Time</label>
        <input type="text" class="form-control" id="lastNotificationTime" value="<%= user.lastNotificationTime %>" disabled>
    </div>
    
    <br />
    <br />
    
    <button type="submit" class="btn btn-default btn-lg">Update</button>
</form>